<div>
     <div class="contenedorTituloPrincipal">
 <h2>Carrito</h2>
  </div>


<div>
       <div class="contenedorProductos" >


        </div>

{{carrito}}

<div>


  <a href="/productsmongoose" class="btn btn-primary">Ver mas productos</a>


</div>


</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/index.js">
</script>