<div>
     <div class="contenedorTituloPrincipal">
 <h2>Cart mongoose</h2>
  </div>

  <form action="/cartmongoose" method="post">
<br>
   Para crear nuevos carritos:<br>
    Carrito de: <input name="name"><br>
    <br>
   
<input type="submit" value="Crear">
<hr>
</form>
<div>
{{#each carritosmongoose}}
<div>Carrito de: {{this.name}}</div>
<div>Carrito numero: {{this._id}}</div>
 <a href="/cartmongoose/{{this._id}}" class="btn btn-primary">Ver Carrito</a>
{{/each}}

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/index.js">
</script>