<div>
     <div class="contenedorTituloPrincipal">
 <h2>Chat</h2>
  </div>

 <p>Usuario: {{user.first_name}}</p>
  <form action="/chatmongoose" method="post">

 <input name="usuario" value="{{user.first_name}}" type="hidden" ><br>
     
   
    Mensaje: <input name="mensaje"><br>
    <br>
   
<input type="submit" value="Enviar">
<hr>
</form>


 <div class="contenedorprincipal">
       

        {{#each contenidochat}}
            <p >  {{this.usuario}}: {{this.mensaje}}</p>
           

        {{/each}}

    </div>

<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/index.js">
</script>