{{!-- para crear productos con mongoose --}}

    <div class="contenedorTituloPrincipal">
 <h2>Create</h2>

  </div>
<form action="/productsmongoose" method="post">
<br>
   title: <input name="title"><br>
   <br>
    price: <input name="price"><br>
    <br>
    thumbnail: <input name="thumbnail"><br>
    <br>
    description: <input name="description"><br>
    <br>
    category: <input name="category"><br>
    <br>
    code: <input name="code"><br>
    <br>
    status: <input name="status"><br>
    <br>
    stock: <input name="stock"><br>
<br>
<input type="submit" value="Create">
</form>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/index.js">
</script>