<div>
    <h2>Remeras y Calzas</h2>
   <div class="contenedorprincipal">
    <div class="contenedor">
      {{#each products}}

             
   <div class="card container" style="width: 25rem;">
          <img src="{{this.thumbnail}}" class="card-img-top" alt="Placeholder Image">
          <div class="card-body">
        
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">${{this.price}}</p>
            <a href="#" class="btn btn-primary">Ver</a>
          </div>
        </div>


        

        {{/each}}

    </div>

   </div>   


</div>



<script src="/static/js/index.js">
</script>