<div>
    <h2>hola {{user.name}}</h2>
      

        {{#each products}}
            <div>
                <p>{{this.title}}</p>
                <p><b>{{this.price}}</b></p>
                <hr>
            </div>



        {{/each}}



</div>



<script src="/static/js/index.js">
</script>