<div>
    <h2>hola {{user.name}}</h2>

    {{#if user.isAdmin}}
        eres isAdmin
        <ul>
            <li>producto 1</li>
            <li>producto 2</li>
        </ul>

        {{#each foods}}
            <div>
                <p>{{this.name}}</p>
                <p class="color"><b>{{this.price}}</b></p>
                <hr>
            </div>
        {{/each}}

    {{else}}
        no tienes permiso
    {{/if}}

</div>



<script src="/static/js/index.js">
</script>