{{!-- para actualizar productos con mongoose --}}

    <div class="contenedorTituloPrincipal">
 <h2>Recuperar contraseña</h2>

  </div>
<form action="/mail" method="post">
<br>
 Email: <input type="email" name="email" placeholder="Ingrese email"><br><br>
     <br>

<br>
    <input type="submit" value="Recuperar contraseña"><br>
</form>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/index.js">
</script>