<div>
     <div class="contenedorTituloPrincipal">
 <h2>Profile</h2>
  </div>
 <div>
    First name:  {{first_name}}
    Last name:  {{last_name}}
    Age:  {{age}}
    Email:  {{email}}

 </div>
    

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/index.js"></script>