<div>
     <div class="contenedorTituloPrincipal">
 <h2>Profile</h2>
  </div>
 <div class="margen">
    First name:  {{usuario.first_name}}<br>
    Last name:  {{usuario.last_name}}<br>
    Age:  {{usuario.age}}<br>
    Email:  {{usuario.email}}<br><br>


    <a href="/api/session/logout" class="btn btn-primary" >Logout</a>
    <a href="/productsmongoose" class="btn btn-primary">Ver mas productos</a>

 </div>
    

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/index.js"></script>