<div>

    <div>
    <h2>Remeras y Calzas</h2>
    <div class="contenedorprincipal">
        <div class="contenedor">
        
        {{#each products}}

            <div class="card container" style="width: 25rem;">
                <img src="{{this.thumbnail}}" class="card-img-top" alt="Placeholder Image">
                <div class="card-body">
            
                <h5 class="card-title">{{this.title}}</h5>
                <p class="card-text">${{this.price}}</p>
                <a href="#" class="btn btn-primary">Agregar al carrito</a>
                </div>
            </div>

        {{/each}}

        </div>

    </div>   

    </div>
    
    <div id="box1">

    </div>
    
<script src="/socket.io/socket.io.js"></script>
<script>
        const socket = io()
        console.log('io conectado')

        socket.on('all', (data)=>{
            console.log(data)
            document.querySelector('#box').innerHTML += `<p>${data}</p>`
        })

    </script>


</div>