<div>
     <div class="contenedorTituloPrincipal">
 <h2>Register</h2>
  </div>
 <div class="margen">
    <form action="/api/session/registeruser" method="post">
            First name: <input type="text" name="first_name" id=""><br><br>
            Last name: <input type="text" name="last_name" id=""><br><br>
            Age: <input type="number" name="age" id=""><br><br>
            Email: <input type="text" name="email" id=""><br><br>
            Password: <input type="text" name="password" id=""><br><br>
            <input type="hidden" name="rol" value="usuario">
            <button type="submit">Register</button><br><br>
        </form>
 </div>
    

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/index.js"></script>