{{!-- para actualizar contraseña --}}

    <div class="contenedorTituloPrincipal">
 <h2>Generar nueva clave</h2>

  </div>
<form id="updateUserPassword" action="/updateuserpassword" method="post">
<br>
<br>
   <input type="hidden" name="token" value="{{token}}"> <!-- Campo oculto para el token -->
    <br>
    <br>
   Email: <input type="email" name="email" placeholder="Ingrese su email"><br><br>
    Password: <input type="password" name="password" placeholder="Ingrese nueva contraseña"><br><br>
    <br>
    
<br>
  
    <input type="submit" value="Crear nueva clave">
    <br><br>
</form>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/index.js">
</script>

<script>
    document.getElementById("updateUserPassword").addEventListener("submit", function(event) {
        event.preventDefault(); // Prevenir el envío del formulario por defecto
        
          const userData = {
             email: document.querySelector('input[name="email"]').value
        password: document.querySelector('input[name="password"]').value
         token: document.querySelector('input[name="token"]').value
        // Agrega otros campos de usuario aquí si es necesario
    };



        const userId = "{{user._id}}"; // Puedes obtener el ID del usuario de alguna manera
    console.log('userid', userId)
        fetch(`/updateuser`, {
           
             method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(userData)
        })
        .then(response => {
            if (response.ok) {
                alert('Contraseña actualizado correctamente');
                window.location.href = '/'; // Redirigir a alguna página después de la actualización
            } else {
                alert('Hubo un problema al actualizar la contraseña 1');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Hubo un problema al actualizar la contrasña');
        });
    });
</script>