 {{!-- //pagina cuando no hay suficiente stock en ningun producto--}}
<div>
  <div class="contenedorTituloPrincipal">
 <h2>No hay stock en los productos elegidos</h2>
  </div>
 

  <div class="contenedorprincipal">
      <h3 class="margen" >No hay suficiente stock para los siguientes productos</h3>
    <div class="contenedor" >
    
      {{#each carrito.productosagregados}}

        <div class="card container" style="width: 18rem;">
                <img src="{{this.product.thumbnail}}" class="card-img-top" alt="Placeholder Image">
                <div class="card-body">

                <h5 class="card-title">{{this.product.title}}</h5>
                <p class="card-text">${{this.product.price}}</p>
                <p class="card-text">Cantidad: {{this.quantity}}</p>
                </div>
               
        </div>

       {{/each}}

    </div>
<div class="margen">
<a href="/productsmongoose" class="btn btn-primary">Ver mas productos</a>
</div>
 
  </div>   

</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="/static/js/index.js">
</script>