b{
    color:blue;
}



.titulo_card {
    font-size: 18px;
    height: 45px;
  }

  .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
  }
  .contenedorProductos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
  }
  .contenedorCarrito{
    display: flex;
    flex-wrap: wrap;
  
    align-items: center;
    /* background-color: blue; */
  }


  .container{
    margin: 20px;
  }

  .contenedorTituloPrincipal{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(172, 171, 171);
    height: 100px;
    margin-bottom: 25px;
    width: 100%;
}

  .formatoTituloPrincipal{
    align-items: center;
    
  }
  .color--barranav {
    background-color: rgb(180, 196, 196);
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 15px;
  
    
  } 
  
.logo{
  color: white;
  margin: 15px
}


.margen{

  margin:15px
}
.margen-top{

  margin-top:15px
}