<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

      <!-- Incluye Bootstrap CSS desde el CDN oficial de Bootstrap -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/css/{{style}}">

    
    
</head>
<body>
    <div class="color--barranav">
    <h1 class="logo">{{title}}</h1>
    </div>
   
<nav>
  <ul>
    <li><a href="/login">Login</a></li>
    <li><a href="/registeruser">Register</a></li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/allusers">Ver todos los usuarios</a></li>
    <li><a href="/updateuser">Actualizar Usuario</a></li>
    <li><a href="/apidocs">Documentación</a></li>
    
    <br><br>
    <li><a href="/">Index</a></li>
    <li><a href="/productsmongoose">Ver Productos (con mongoose)</a></li>
    <li><a href="/productsmongoose/create">Crear Productos (con mongoose)</a></li>
    <li><a href="/realtimeproducts">Ver Productos ( realtimeproducts con filesystem)</a></li>
    <li><a href="/chat">Chat (con filesystem)</a></li>
    <li><a href="/chatmongoose">Chat (con mongoose)</a></li>
    <li><a href="/loggertest">Logger Test</a></li>
  </ul>
</nav>


    {{{body}}}


        
    
    <script>
       

      
    </script> 
</body>
</html>